@import "reset.css";
@import "variables.css";

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";


@import "screens/log-in-page.css";
@import "screens/sign-up.css";
@import "screens/friends-screen.css";
@import "screens/chats.css";
@import "screens/find.css";

@keyframes secondroad {

    0% {
        transform: scale( 0.7 );
        opacity: 0.2;
    }
    100%{
        transform: scale(1.0);
        opacity: 1;
    }
}

body{
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    width: 100%;
    height: 100vh;
    font-size: 20px;
    font-weight: 600;
}
