@import "reset.css";
@import "variables.css";


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/search-bar.css";


@import "screens/log-in-page.css";
@import "screens/Home.css";
@import "screens/chats.css";
@import "screens/Search.css";
@import "screens/chatting-room.css";
@import "screens/Profile.css";
@import "screens/community.css";
@import "screens/posts.css";
@import "screens/no_mobile.css";

@keyframes secondroad {

    0% {
        transform: scale( 0.7 );
        opacity: 0.2;
    }
    100%{
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes flyFromLeft {

    0% {
        transform:translate(-30vw, 0px);
        opacity: 0.2;
    }
    100%{
        transform:translate(0vw, 0px);
        opacity: 1;
    }
}

@keyframes flyFromright {

    0% {
        transform:translate(100vw, 0px);
        opacity: 0;
    }
    10% {
        transform:translate(50vw, 0px);
        opacity: 0.0;
    }
    100%{
        transform:translate(0vw, 0px);
        opacity: 1;
    }
}




body{
    color:var(--concept-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: var(--concept-backgroundColor);
    width: 100%;
    height: 100%;
    font-size: 20px;

}

input[type=submit]{
    transition: all 0.2s ease-in-out;
    color:var(--concept-color);
}

input[type=submit]:hover{
    scale:110%;
}

input{
    color:var(--concept-backgroundColor);
}


