@import "reset.css";
@import "variables.css";


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";


@import "screens/log-in-page.css";
@import "screens/Home.css";
@import "screens/chats.css";
@import "screens/Search.css";

@keyframes secondroad {

    0% {
        transform: scale( 0.7 );
        opacity: 0.2;
    }
    100%{
        transform: scale(1.0);
        opacity: 1;
    }
}




body{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: #1F2021;
    width: 100%;
    height: 100vh;
    font-size: 20px;

}


