#login-form{
    display:flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form div{
    padding-bottom: 8px;
}

#login-form input{
    padding: 8px 0px;
    padding-left:13px;
    border: none;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #87838368;
    caret-color: var(--concept-color);

  }



#login-form input:hover{
    background-color: #414141;
}

#login-form input::placeholder{
    color: rgba(0,0,0,0.4);
}

input:focus{
    outline: none;
}

#login-form input:focus{
    border-color:var(--yellow);
}

#login-form input:not([type="submit"]){
    transition: border-color 0.3s ease-in-out;
    border-bottom: 1px solid  rgba(0,0,0,0.3);
}

#login-form input[type="submit"]{
    padding: 7px 0px;
    border-radius: 51px;
    margin: 0px 115px;
    background-color: #414141;;
}
#login-form input[type="submit"]:hover{
    background-color:var(--concept-color);
    cursor: pointer;
}

#login-form a {
    margin-top:10px;
    text-align:center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}