.nav{
    background-color: #1F2021;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.nav__list {
    display:flex;
    justify-content: space-around;
    padding:20px 0px;
    margin-bottom: 3vh;
    font-size: 25px;
    
}

.nav__link{
    position: relative;
}

.nav__btn{
    text-align: center;
}




.nav__notification {
    display:flex;
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    left: 11px;
    bottom:8px;
    color:white;
    font-size: 12px;


}

.nav__img__div{
    border-color:1px solid var(--concept-color) ;

}

.nav__img{
    width: 28px;
    height: 28px;
    border-radius: 20px;
}
