.screen-header{
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0px var(--horizontal-space);
}

.screen-header__Friends-searchbar{
    font-size: 25px;
    font-weight: 600;
}



.screen-header__log-page{
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0px var(--horizontal-space);
}

.screen-header__Friends-searchbar__log-page{
text-align: center;
position: relative;
bottom: 22px;}